input{
    width: 20%;
    margin: 5px;
    height: 2rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;

}
button{
    margin: 15px;
    width: 5rem;
    height: 1.8rem;
    box-shadow: 2px 2px 2px 2px rgb(70, 66, 66);
    background-color: rgb(230, 130, 130);
    color: white;
    font-size: 1.3rem;
    border-radius: 0.4rem;
}
body{
    background-color: bisque;
}
@media screen and (min-width:768px) {
    input{
    width: 10%;
    }
}
